<app-posts></app-posts>

<app-dialog #dialog></app-dialog>
<button (click)="handlerClick($event)">Open Dialog</button>



<!--
  <app-layout></app-layout>
<app-trasclusion>
  <div slot="text">Lorem ipsum dolore....</div>
</app-trasclusion>
<app-timer></app-timer>

<app-calendar></app-calendar>
<div>{{name}}</div>

@if (user){
  <div>{{user}}</div>
}
@else{
  <button>Login</button> 
}

<ul>
  @for(v of data; track v){
    <li>{{v}}</li>
  }
  @empty{
    <li>No existen elementos</li>
  }

</ul>
-->

